@charset "UTF-8";

@import 'reset';
@import 'general';
@import 'not-index';

main {
	width: 25%;
	background-color: $grey-light;
	@media screen and (max-width: $small-desktop){
  		width: 40%;
	}
	@media screen and (max-width: $tablet){
	 	width: 60%;
	}
	@media screen and (max-width: $mobile){
		width: 80%;
	}
}

main h2 {
	margin-bottom: 14px;
}

main h2:not(:nth-of-type(1)) {
	margin-top: 50px;
}

main a, main p {
	font-size: 18px;
}

main a:not(:nth-of-type(1)) {
	display: block;
}

main a, main p {
	margin: 10px 0;
}

main p {
	display: inline;
}