@charset "UTF-8";

@import 'reset';
@import 'general';
@import 'not-index';

main {
	width: 50%;
	@media screen and (max-width: $small-desktop){
    	width: 60%;
  	}
  	@media screen and (max-width: $tablet){
   		width: 70%;
  	}
  	@media screen and (max-width: $mobile){
  		width: 80%;
  	}
}

.graphic-wrap {
  width: 40%;
  @media screen and (max-width: $tablet){
   	width: 100%;
  }
  @media screen and (max-width: $mobile){
  	width: 100%;
  }
}

main h2 {
	margin-bottom: 0.2%;
}

h5 {
	font-size: 16px;
}

img {
	margin: 30px 0;
	width: 75%;
  	@media screen and (max-width: $tablet){
   		width: 100%;
   	}
}

.graphic-100 {
	width: 100%;
}

.graphic-70 {
	width: 70%;
	margin-left: 15%;
}

.graphic-46 {
	width: 46%;
	margin-left: 27%;
}

.description {
	background: $grey;
	padding: 16px 20px 16px;
}

.description a {
	position: absolute;
	background: $color-super-light;
	z-index: 2;
	height: 22px;
	width: 104px;
	text-align: center;
	line-height: 22px;
	font-size: 10px;
	font-weight: 600;
	font-family: $open;
	text-decoration: none;
}

main .description p {
	margin: 2% 0 0 0;
}

main .description p:nth-child(2) {
	margin-top: 40px;
}

.prev, .next {
	font-family: $gent;
	font-style: italic;
	background: none;
	border: none;
	font-size: 20px;
	color: $color;
	position: fixed;
	text-decoration: none;
	top: calc(50% - 10px);
	@media screen and (max-width: $tablet){
		color: $grey;
		padding: 10px 20px;
		top: calc(100% - 40px);
		background: $color;
	}
}

.prev {
	left: 24px;
	@media screen and (max-width: $tablet){
		left: 0;
	}
}

.next {
	right: 24px;
	@media screen and (max-width: $tablet){
		right: 0;
	}
}