@charset "UTF-8";

@import 'reset';
@import 'general';

header {
  position: absolute;
  top: 27%;
  left: calc(50% - 196px);
  text-align: center;
  -webkit-animation: anim2 0.8s ease-in-out 1s forwards;
  animation: anim2 1s ease-in-out 2.5s forwards;
  @media screen and (max-width: $tablet){
    left: calc(50% - 144px);
  }
}

@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
}

@keyframes anim1 {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
}

@-webkit-keyframes anim2 {
  100% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

@keyframes anim2 {
  100% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
}

@-webkit-keyframes anim3 {
  100% {
    opacity: 1;
  }
}

@keyframes anim3 {
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 56px;
  font-weight: 800;
  opacity: 0;
  -webkit-animation: anim1 0.7s ease-in-out forwards;
          animation: anim1 0.7s ease-in-out forwards;
  @media screen and (max-width: $tablet){
    font-size: 40px;
  }
}

p {
  font-size: 20px;
  opacity: 0;
  -webkit-animation: anim1 0.7s ease-in-out 0.3s forwards;
          animation: anim1 0.7s ease-in-out 0.3s forwards;
}

nav {
  position: absolute;
  left: calc(50% - 171px);
  top: 45%;
  @media screen and (max-width: $tablet){
    left: calc(50% - 155px);
  }
}

nav a {
  height: 40px;
  background: none;
  margin: 0 20px;
  border: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  line-height: 50px;
  
  display: inline-block;
  @media screen and (max-width: $tablet){
    margin: 0 15px;
  }
}

.bg {
  opacity: 0;
  -webkit-animation: anim3 0.4s ease-in-out forwards;
          animation: anim3 0.4s ease-in-out forwards;
}

.anim-outer {
  display: inline-block;
  opacity: 0;
}

.anim-outer:nth-of-type(1){
  -webkit-animation: anim1 0.5s ease-in-out 1.6s forwards;
          animation: anim1 0.5s ease-in-out 1.6s forwards;
}

.anim-outer:nth-of-type(2){
  -webkit-animation: anim1 0.5s ease-in-out 1.7s forwards;
          animation: anim1 0.5s ease-in-out 1.7s forwards;
}

.anim-outer:nth-of-type(3){
  -webkit-animation: anim1 0.5s ease-in-out 1.8s forwards;
          animation: anim1 0.5s ease-in-out 1.8s forwards;
}

.anim-outer:nth-of-type(4){
  -webkit-animation: anim1 0.5s ease-in-out 1.9s forwards;
          animation: anim1 0.5s ease-in-out 1.9s forwards;
}