/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

@import
        "../scss/_not-index",
        "../scss/_general"
;



/**
 * Basic styling
 */
body {
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    text-decoration: none;
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey;
    border-left: 4px solid $grey;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-left: calc(25% - 30px);
    margin-top: ($spacing-unit/2);
    padding: ($spacing-unit/2) $spacing-unit 0;
    background-color: rgba(248,248,248,0.75);
    @extend %clearfix;
    @media screen and (max-width: $small-desktop){
      margin-left: calc(20% - 30px);
      width: 60%;
    }
    @media screen and (max-width: $tablet){
      padding: ($spacing-unit/2) ($spacing-unit/2) 0;
      margin-left: calc(10% - 15px);
      width: 76%;
    }
    h1 {
        text-transform: none;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $color-super-light;
        }
    }
}
