html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px; }

* {
  font-family: 'Rubik', sans-serif;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.9); }

a {
  text-decoration: none;
  cursor: pointer; }

.Header,
.Main,
.Projects,
.Footer {
  padding-left: 4em;
  padding-right: 4em; }

.Header,
.Main,
.Projects_Wrapper,
.Footer {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.Header {
  margin: 4em auto 6em; }
  .Header_HelloWorld {
    font-weight: 500;
    color: #14c1b1;
    text-transform: uppercase;
    letter-spacing: 1px; }

.Main_PrimaryText {
  font-size: 2.2em;
  width: 600px; }

.Main_SecondaryText {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.6); }
  .Main_SecondaryText a {
    background: linear-gradient(to top, rgba(40, 225, 189, 0.85) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 100% 200%;
    background-position: 0 10%;
    background-repeat: no-repeat;
    transition: background-position 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    will-change: background-position;
    color: inherit; }
    .Main_SecondaryText a:hover {
      background-position: 0 100%; }

.Projects {
  margin-top: 10em;
  background: #f3f6fb; }
  .Projects_Wrapper {
    padding: 4em 0 2em; }
  .Projects_Title {
    font-weight: 400;
    font-size: 1.2em;
    width: 100%;
    margin: 0; }
  .Projects_Projects {
    margin-top: 3em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

.Project {
  width: 14em;
  display: inline-block;
  margin-right: 4em;
  margin-bottom: 2em;
  padding: 1.2em 1.8em;
  background: white;
  border-radius: 4px;
  border: solid 2px #f3f6fb; }
  .Project:hover {
    border-color: rgba(0, 0, 0, 0.1); }
  .Project_Name {
    font-size: 1.4em;
    display: block; }
  .Project_Description {
    margin: 1em 0;
    color: rgba(0, 0, 0, 0.6);
    display: block; }
  .Project_Date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9em; }

.Footer {
  margin-top: 8em;
  margin-bottom: 5em; }
  .Footer_Contact {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 2em; }
    .Footer_Contact--github {
      color: #6e5494; }
    .Footer_Contact--twitter {
      color: #1da1f2; }
    .Footer_Contact--dribbble {
      color: #ea4c89; }
    .Footer_Contact--codepen {
      color: #14c1b1; }
    .Footer_Contact--linkedin {
      color: #006CAC; }

@media screen and (max-width: 700px) {
  html,
  body {
    font-size: 14px; }
  .Main_PrimaryText {
    width: 100%; }
  .Footer_Contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .Footer_Contact {
    margin-bottom: 2em; } }
